@use 'components' as comp;
@use 'components/input/' as input;

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.float-container {
    padding-right: 20px;
}
.float-child {
    float: left;
} 