@use 'components/menu/' as menu;
@use 'components/input/' as input;
@use 'components/overview/' as overview;
@use 'pages/settings/' as fieldsettings;

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.float-child {
    float: left;
}

.menu-icon {
    font-size: 1.4rem;
    color: var(--bs-primary);
    padding-right: 5px;
}
